@model MessageViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!--<b>Html.DisplayFor(modelItem => viewModel.MessageModel.FromId)</b>-->
    @{
        foreach (var viewModel in @Model.MessageDetailsViewModels)
        {
            //<h1>"Header here"</h1>
            <div>                
                <b>Id:</b> @viewModel.MessageModel.Id, <br>
                <b>FromId:</b> @viewModel.MessageModel.FromId , <br> 
                <b>ToId:</b> @viewModel.MessageModel.ToId, <br>
                <b>Theme:</b> @viewModel.MessageModel.Theme, <br>
                <b>Body:</b> @viewModel.MessageModel.Body, <br>
                <b>IsHtml:</b> @viewModel.MessageModel.IsHtml <br>
            </div>
            <br>
        }        
    }
</body>
</html>