@model homeWork8.ViewModels.WorkerDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Header</h1>
    <div>
        Id : @Model.Worker.Id
    </div>
    <div>
        FirstName : @Model.Worker.FirstName
    </div>
    <div>
        LastName : @Model.Worker.LastName
    </div>
    <div>
        Birthday : @Model.Worker.Birthday
    </div>
    <div>
        Age : @Model.Worker.Age
    </div>
    <div>
        Gender : @Model.Worker.Gender
    </div>
    <h1>Worker Address</h1>
    <div>
        City : @Model.Address.City
    </div>
    <div>
        State : @Model.Address.State
    </div>
    <div>
        Country : @Model.Address.Country
    </div>
    <div>
        Pin : @Model.Address.Pin
    </div>
</body>
</html>