@model WorkerDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h4>@Model.Header</h4>
    <div>
        Id : @Model.Worker.Id, @Model.Worker.FirstName @Model.Worker.LastName
    </div>
</body>
</html>